*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: "Sora", sans-serif;
}
body {
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
