*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2e80ce;
    --header-bg-color: #10375c;
    --header-desc-color: #c9d2da;
    --desc-color: #575f66;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: "Sora", sans-serif;
}
body {
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    background-color: var(--primary-color);
    font-size: 1.8rem;
    min-width: 205px;
    border-radius: 999px;
    line-height: 60px;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    color: var(--header-bg-color);
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.1rem;
}

.desc {
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.75;
}
/* Header */
.header {
    padding: 30px 0 15px;
    background-color: var(--header-bg-color);
}

.header.fixed {
    position: sticky;
    top: -18px;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: flex;
    align-items: start;
    /* gap: 0 6px; */
}

.logo__circle {
    padding-right: 6px;
}

.logo__circle::before,
.logo__circle::after {
    padding-right: 6px;
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}

.logo__text {
    color: #fff;
    line-height: 1.7em;
}

.logo__text--branch {
    display: block;
}

.logo__text--branch {
    font-size: 1.8em;
}

.logo__text--small {
    font-size: 1.2em;
    font-weight: 300;
    text-align: right;
}

.nav {
    display: inline-block;
}

.nav__list {
    display: flex;
}

.nav__link {
    color: var(--header-desc-color);
    font-weight: 300;
    line-height: 1.75;
    padding: 6px 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__link::after {
    content: attr(data-text);
    font-weight: 400;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.nav__link:hover {
    color: #fff;
    font-weight: 400;
}

.nav__link--active {
    position: relative;
    color: #fff;
    font-weight: 400;
    line-height: 1.75;
}

.nav__link--active::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.action {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.action__btn {
    display: inline-block;
    color: #c9d2da;
    font-weight: 300;
}

.action__btn-login {
    padding: 8px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action__btn-login::after {
    content: attr(data-text);
    font-weight: 400;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.action__btn-login:hover {
    color: #fff;
    font-weight: 400;
}

.btn.action__btn {
    color: #fff;
    text-align: center;
    font-weight: 400;
    min-width: 104px;
    font-size: 1.6rem;
    line-height: 44px;
}

/* Hero */
.hero {
    height: calc(100vh - 89px);
    padding-top: 50px;
    background-color: var(--header-bg-color);
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 44%;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.143;
    letter-spacing: -0.14rem;
}

.hero__desc {
    color: #c9d2da;
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.hero__action {
    display: flex;
    align-items: center;
    margin-top: 38px;
    gap: 0 30px;
}

.hero__btn-text {
    color: #fff;
    padding: 8px 4px;
    font-size: 1.8rem;
    line-height: 1.66;
}

.hero__media {
    display: flex;
    align-items: center;
}

.hero__img {
    position: relative;
    z-index: 2;
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img--small {
    z-index: 1;
    width: 210px;
    height: 410px;
    margin-left: -6px;
}

/* Services */
.services {
    padding: 50px 0;
    margin-top: 120px;
}

.services__desc {
    margin: 18px auto 0px;
    text-align: center;
    width: 468px;
    max-width: 100%;
}

.services__container {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.services__content {
    width: 40.1%;
}

.services__item {
    display: flex;
    border-radius: 1rem;
    background: #fff;
    padding: 21px 61px 20px 22px;
    gap: 0 19px;
}

.services__icon-wrap {
    background-color: #eff6fd;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.services__icon-wrap .services__icon {
    color: var(--header-bg-color);
}

.services__item:hover {
    position: relative;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.services__item:hover .services__icon-wrap,
.services__item:hover .services__icon-wrap > .services__icon {
    background-color: var(--primary-color);
    color: #fff;
}
.services__heading-lv3 {
    color: var(--header-bg-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.services__desc--small {
    text-align: start;
    font-size: 1.6rem;
    font-weight: 300;
}

.services__btn {
    margin-top: 55px;
}

/* Works */
.works {
    margin-top: 20px;
    padding: 100px 0;
    background: #f6fbff;
}

.work_top {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.work__desc {
    margin-top: 18px;
    max-width: 468px;
}

.work-list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 46px;
}

.work-item {
    background: #fff;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    padding: 42px;
}

.work-item__heading {
    margin-top: 18px;
    color: var(--header-bg-color);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.work-item__desc {
    margin-top: 28px;
    font-size: 1.6rem;
}

.work-item__link {
    display: inline-block;
    margin-top: 18px;
    color: #575f66;
    font-weight: 300;
    line-height: 1.75;
}

.work-item:hover {
    border-color: #2e80ce;
    margin: -16px;
    padding: 58px;
    position: relative;
}

.work-item:hover .work-item__link {
    color: #2e80ce;
    font-weight: 400;
}

/* Features */
.features {
    margin-top: 20px;
    padding: 50px 0;
}

.features-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features-images {
    display: flex;
    width: 48.7%;
}

.features-images__img {
    max-width: 512px;
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.features-images__img:last-child {
    position: relative;
    margin-top: 121px;
    margin-left: -274px;
    max-width: 332px;
    width: 100%;
    height: 370px;
}

.features-content {
    max-width: 470px;
    width: 100%;
}

.features-content__heading {
    text-align: start;
}

.features-content_desc {
    margin-top: 18px;
}

.features-content__btn {
    margin-top: 38px;
}

/* Member */
.member {
    margin-top: 70px;
    padding: 50px 0;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__ctn {
    margin-top: 38px;
}

.member__row {
    margin-top: 70px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

.member-item__img-bg {
    padding-top: 38px;
    background: #eaf6ff;
    border-radius: 6px;
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;
}

.member-item__heading {
    margin-top: 12px;
    color: var(--header-bg-color);
    text-align: center;
    line-height: 1.75;
}

.member-item__desc {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85;
}

.member-control {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    gap: 0 18px;
}

.member-control__arrow {
    cursor: pointer;
    border: none;
    color: #575f66;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 1px solid #575f66;
}

.member-control__arrow:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}

.member-control__arrow-reverse {
    rotate: 180deg;
}

/* Intalls */
.install {
    margin-top: 170px;
    padding: 50px 0;
}

.install__inner {
    display: flex;
    align-items: center;
    background: var(--primary-color);
    border-radius: 4px;
    height: 427px;
}

.install-image {
    margin-right: auto;
}

.install__img {
    margin-left: 70px;
    margin-top: -95px;
    width: 284px;
    height: 522px;
    object-fit: cover;
}

.install__content {
    width: 51%;
    margin-right: 70px;
}

.install__heading {
    max-width: 489px;
    width: 100%;
    color: #fff;
    text-align: start;
}

.install__desc {
    margin-top: 18px;
    color: #fff;
    font-weight: 300;
    line-height: 1.66;
}

.install__download {
    margin-top: 38px;
    display: flex;
    gap: 0 28px;
}

/* News */
.new {
    margin-top: 70px;
    padding: 50px 0;
}

.new__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new__content {
    width: 40%;
}

.new__heading {
    text-align: start;
}

.new__link {
    display: inline-block;
    margin: 28px 0;
    color: #10375c;
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.55;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.new__control {
    display: flex;
    gap: 0 18px;
}

.new__control-btn {
    background-color: transparent;
    cursor: pointer;
    color: #575f66;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
}

.new__control-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}

.new__control-btn-reverse {
    rotate: 180deg;
}

.new__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 48%;
}

.new-card {
    border-radius: 12px;
    background: #fff;
    transition: 0.3s;
    margin: -1px;
}

.new-card:hover {
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
}

.new-card:hover .new-card__info {
    border-color: transparent;
}

.new-card__more:hover {
    color: #2e80ce;
}

.new-card__thumb {
    width: 100%;
    height: 172px;
    object-fit: cover;
    overflow: hidden;
}

.new-card__info {
    padding: 18px 22px 21px;
    background: #fff;
    border: 1px solid #e8ebee;
    border-top: none;
    border-radius: 0 0 12px 12px;
}

.new-card__title {
    color: #10375c;
    font-weight: 600;
    line-height: 1.62;
}

.new-card__desc {
    display: inline-block;
    margin-top: 10px;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}

.new-card__more {
    display: block;
    margin-top: 12px;
    color: #10375c;
    font-size: 1.4rem;
}

/* appointment */
.appointment {
    margin-top: 70px;
    padding: 50px 120px;
}

.appointment__inner {
    background: #f6fbff;
    padding: 100px 0;
    text-align: center;
}

.appointment__desc {
    position: relative;
    color: #575f66;
    font-weight: 300;
    line-height: 1.75;
    width: 59%;
    margin: 18px auto 38px;
    padding-top: 18px;
}

.appointment__desc::after {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 136px;
    height: 2px;
    background-color: #2e80ce;
}

/* Footer */
.footer {
    margin-top: 120px;
    padding-top: 100px;
    background: #10375c;
}

.footer__inner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    gap: 0 78px;
}

.footer__inner::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 117rem;
    height: 0.1rem;
    background: #406181;
}

.footer__desc {
    margin-top: 22px;
    color: #a9b3bb;
    font-family: "Open Sans", sans-serif;
    line-height: 1.75;
}

.footer__heading {
    display: block;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 1.75;
}

.footer__heading:last-child {
    margin-top: 22px;
}

.footer__list {
    margin-bottom: 28px;
}

.footer__link {
    display: block;
    padding: 5px 0;
    color: #a9b3bb;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 1.85;
    white-space: nowrap;
}

.footer__item:first-child .footer__link {
    margin-top: 15px;
}

.footer__column .footer__heading:last-child {
    margin-top: 22px;
}

.footer__img-wrap {
    margin: 20px 0 28px;
    display: flex;
    gap: 0 10px;
}

.footer__icon:hover {
    background-color: #2e80ce;
    color: #fff;
}

.footer__icon {
    color: #2e80ce;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__form {
    margin-top: 10px;
    display: flex;
    gap: 0 12px;
}

.footer__input {
    width: 212px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #406181;
    background: transparent;
    color: #9ca8b1;
    font-family: "Open Sans";
    font-size: 1.4rem;
    line-height: 1.85;
    padding: 10px;
}

.footer__input::placeholder {
    color: #9ca8b1;
    font-family: "Open Sans";
    font-size: 1.4rem;
    line-height: 1.85;
}

.footer__input:focus {
    outline: 1px solid #406181;
}

.footer__input:-webkit-autofill,
.footer__input:-webkit-autofill:hover,
.footer__input:-webkit-autofill:focus {
    -webkit-text-fill-color: #9ca8b1;
    -webkit-box-shadow: 0 0 0px 1000px #10375c inset;
    transition: background-color 5000s ease-in-out 0s;
    font-family: "Open Sans";
    font-size: 1.4rem;
}

.footer__btn {
    cursor: pointer;
    min-width: 108px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 46px;
    border-radius: 4px;
    border: none;
}

.footer__bottom {
    padding-top: 28px;
    padding-bottom: 42px;
    text-align: center;
}

.footer__bottom-text {
    color: #aab3ba;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 1.85;
}
