*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2e80ce;
    --header-bg-color: #10375c;
    --header-desc-color: #c9d2da;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: "Sora", sans-serif;
}
body {
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    background-color: var(--primary-color);
    font-size: 1.8rem;
    min-width: 205px;
    border-radius: 999px;
    line-height: 60px;
}

.btn:hover {
    opacity: 0.9;
}
/* Header */
.header {
    padding: 30px 0 15px;
    background-color: var(--header-bg-color);
}

.header.fixed {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: flex;
    align-items: start;
    /* gap: 0 6px; */
}

.logo__circle {
    padding-right: 6px;
}

.logo__circle::before,
.logo__circle::after {
    padding-right: 6px;
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}

.logo__text {
    color: #fff;
    line-height: 1.7em;
}

.logo__text--branch {
    display: block;
}

.logo__text--branch {
    font-size: 1.8em;
}

.logo__text--small {
    font-size: 1.2em;
    font-weight: 300;
    text-align: right;
}

.nav {
    display: inline-block;
}

.nav__list {
    display: flex;
    gap: 0 42px;
}

.nav__link {
    color: var(--header-desc-color);
    font-weight: 300;
    line-height: 1.75;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__link::after {
    content: attr(data-text);
    font-weight: 400;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.nav__link:hover {
    color: #fff;
    font-weight: 400;
}

.nav__link--active {
    position: relative;
    color: #fff;
    font-weight: 400;
    line-height: 1.75;
}

.nav__link--active::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.action {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.action__btn {
    display: inline-block;
    color: #c9d2da;
    font-weight: 300;
}

.action__btn--login {
    padding: 8px 18px;
}

.btn.action__btn {
    color: #fff;
    text-align: center;
    font-weight: 400;
    min-width: 104px;
    font-size: 1.6rem;
    line-height: 44px;
}

/* Hero */
.hero {
    height: calc(100vh - 89px);
    padding-top: 50px;
    background-color: var(--header-bg-color);
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 44%;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.143;
    letter-spacing: -0.14rem;
}

.hero__desc {
    color: #c9d2da;
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.hero__action {
    display: flex;
    align-items: center;
    margin-top: 38px;
    gap: 0 30px;
}

.hero__btn-text {
    color: #fff;
    padding: 8px 4px;
    font-size: 1.8rem;
    line-height: 1.66;
}

.hero__media {
    display: flex;
    align-items: center;
}

.hero__img {
    position: relative;
    z-index: 2;
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img--small {
    z-index: 1;
    width: 210px;
    height: 410px;
    margin-left: -6px;
}
